<div class="container">
  <h2 class="gallery-logo">FruitFace Gallery</h2>

</div>

<script>
  <% @fruits.order(:created_at).each do |fruit| %>

      var id = <%= fruit.id %>

      $.getJSON("/fruits/" + id, function(data) {

        display_time = "<%= time_ago_in_words(fruit.created_at.to_time) %>"

        svg = d3.select(".container").append("svg").attr("width", 300).attr("height", 300).attr("class", "fruit-<%= fruit.id %> fruit-gallery");
          svg.append("text").text(data.fruit.name + ", created " + display_time + " ago").attr("x", 90).attr("y", 250).attr("class", "names");


        $.each(data.parts, function(key, value) {
          this_fruit_part = value["identifier"];

          container = ".fruit-" + data.fruit.id
          window[this_fruit_part](container)
        });
        
        <% if fruit.color %>
          $(".fruit-<%= fruit.id %> .color-change").css("fill", "<%= fruit.color %>"); 
        <% end %>

        // append svg to a tag
        // $("svg").setAttribute("href", "wwww.google.com");

      });   

  <% end %>
</script>

