<div class="container">
  <h2 class="gallery-logo">FruitFace Gallery</h2>

</div>

<script>
  <% @fruits.order(:created_at).each do |fruit| %>

      var id = <%= fruit.id %>

      $.getJSON("/fruits/" + id, function(data) {

        display_time = "<%= time_ago_in_words(fruit.created_at.to_time) %>"
        
        wrapper = d3.select(".container").append("div").attr("class", "svg-wrapper")
        svg = wrapper.append("svg").attr("width", 300).attr("height", 300).attr("class", "fruit-<%= fruit.id %> fruit-gallery");
        
        $(wrapper[0]).append("<p>" + data.fruit.name + ", " + display_time + " ago" + "</p>").wrap("<a href=" + "/fruits/" + data.fruit.id + "/>").append("<div class='svg-shadow'></div>");

        $.each(data.parts, function(key, value) {
          this_fruit_part = value["identifier"];

          container = ".fruit-" + data.fruit.id
          window[this_fruit_part](container)
        });
        
        <% if fruit.color %>
          $(".fruit-<%= fruit.id %> .color-change").css("fill", "<%= fruit.color %>"); 
        <% end %>

      });   

  <% end %>
</script>

