<!DOCTYPE html>
<html>
<head>
  <title>Fruitface</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300,400' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
  <% if @gallery == true %>
    <body class="gallery">
  <% else %>
    <body>
  <% end %>

  <% if @about == true %>
    <body class="about">
  <% else %>
    <body>
  <% end %>

  <%= render partial: 'layouts/shared/nav' %>
  <script src="http://platform.tumblr.com/v1/share.js"></script>
  
  <%= yield %>
</body>
</html>
